@using ShopGYM.WebApp.Models.Momo
@model MomoExecuteResponseModel
<h5>Thông tin thanh toán</h5>
<h6>Trạng thái: @Model.OrderId</h6>
<h6>Trạng thái: @Model.Amount</h6>
<h6>Trạng thái: @Model.FullName</h6>
<h6>Trạng thái: @Model.OrderInfo</h6>